/*body, canvas, p, h1, h2, h3, h4, h5, h6, div, span{
	margin: 0;
	padding: 0;
}
*/

#controlsDiv {
	margin: 0px;
	padding: 0px;
}

#contolLabelsDiv {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#controlsSelectorsDiv {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

body {
	/*background: #000000;*/
}

#mainCanvas {
	/*width: 100%;
	height: 100%;*/
}
